.progress-bar-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.progress-bar {
  width: 300px;
  height: 10px;
  border-radius: 5px;
  background-color: gray;
}

.progress-bar > .progress {
  height: 100%;
  border-radius: 5px;
}

.progress-bar.red > .progress {
  width: 33.3%;
  background-color: red;
}

.progress-bar.yellow > .progress {
  width: 66.6%;
  background-color: yellow;
}

.progress-bar.green > .progress {
  width: 100%;
  background-color: green;
}